rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /resumes/{uid}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == uid;
    }
    match /profile_photos/{file} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
